.header-bar {
    background-color: #003366;
    padding: 1rem 2rem;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; 
    border-bottom: 3px solid white; 
}
  
  .header-title {
    color: #FFCB05;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }


    .schedule-container {
        background-color: #FFCB05;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 2rem;
        padding-top: 6rem; 
    }

    .section-semester h1{
        font-size: 4rem;
        font-weight: bold;
        color: #003366;
        margin-bottom: 2rem;
        margin-left: 6rem;
      }

  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  
  .section h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #003366;
    margin-bottom: 1rem;
    margin-right: 6rem;
  }

  .dropdown-container {
    display: flex;
    gap: 2rem; 
    flex-wrap: wrap;
}
  
  .dropdown {
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 300px;
    border-radius: 5px;
    max-height: 200px; 
    overflow-y: auto;
  }
  
  .dropdown-search {
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 300px;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto; 
}

  .dropdown-select {
    margin-right: 10px;  
    width: 100%;
  }

  .arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .arrow {
    font-size: 4rem;
    color: black;
    font-weight: bold;
  }

  .button-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 10px; /* Add some spacing between the buttons */
  }
  
  .add-class-button,
  .submit-class-button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .add-class-button {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #f0f0f0;
  }
  
  .submit-class-button {
    background-color: #f0f0f0;
  }



  .schedule-table {
    border-collapse: collapse; /* Collapses borders into a single border */
    width: 100%; /* Makes the table take the full width */
    margin-top: 20px; /* Adds some space above the table */

    table-layout: fixed;
  }
  
  .schedule-table th, .schedule-table td {
    border: 2px solid #003366; /* Sets a solid border with a color */
    padding: 15px; /* Increased padding inside table cells */
    text-align: center; /* Centers the text */
  }
  
  .schedule-table th {
    background-color: #003366; /* Header background color */
    color: white; /* Header text color */
    font-weight: bold; /* Makes header text bold */
  }
  
  .schedule-table td {
    background-color: #f8f9fa; /* Light background color for table data */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .schedule-table td:hover {
    background-color: #e9ecef; /* Change background on hover */
  }
  